
.jumbotron {
    margin: 20px;
    background-color: rgba(45, 77, 185, 0.877);
    background-size: cover;
    color: white;
    text-align: center;
}  

  .panel.panel-primary {
    border-color: rgba(45, 77, 185, 0.877);
  }

  .panel-heading  {
    background-color: rgba(45, 77, 185, 0.877) !important;
    text-align: center;
  }